/* src/components/AboutUs.css */

.about-us {
    padding: 50px 0;
    background-color: #f9f9f9;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  
  .text-content {
    flex: 1;
    padding: 20px;
    max-width: 50%;
  }
  
  .text-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .text-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
  }
  
  .text-content .our-values h2 {
    font-size: 2rem;
    margin-top: 30px;
    color: #333;
  }
  
  .text-content .our-values p {
    font-size: 1.1rem;
    color: #555;
  }
  
  .image-content {
    flex: 1;
    max-width: 45%;
    text-align: center;
  }
  
  .image-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }


  /* Objectives Section */
.our-values h2 {
    font-size: 24px;
    color: #333;
    margin-top: 30px;
  }
  
  .objectives-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .objectives-list li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
    line-height: 1.6;
    display: flex;
    align-items: center;
  }
  
  .objective-icon {
    color: #4CAF50; /* Green color for the check mark */
    margin-right: 10px; /* Space between icon and text */
    font-size: 20px; /* Icon size */
  }

  /* Styling for the objectives paragraph */
.our-values p {
    font-size: 16px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
  }


  /* Styling for awards section */
.awards-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .awards-list li {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .award-icon {
    color: #f39c12; /* Golden color for the icon */
    font-size: 24px;
    margin-right: 10px;
  }
  
  .award-year {
    color: green;
    font-weight: bold;
    margin-right: 10px;
  }
  
  /* Responsive Design for Mobile */
  @media screen and (max-width: 768px) {
    .about-us-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .text-content {
      max-width: 100%;
    }
  
    .image-content {
      max-width: 100%;
      margin-top: 20px;
    }
  
    .text-content h1 {
      font-size: 2rem;
    }
  
    .text-content p {
      font-size: 1rem;
    }
  
    .text-content .our-values h2 {
      font-size: 1.5rem;
    }
  
    .text-content .our-values p {
      font-size: 1rem;
    }
  }