/* Add animation for header */

/* Add animation for HeroPage */
.hero-page {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.hero-page.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Smooth scroll-triggered animations */
.scroll-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.scroll-element.fade-in {
  opacity: 1;
  transform: translateY(0);
}